@using Meico.Models.ViewModels;

@{
    List<ContactViewModel> contacts = ViewBag.Contacts;
}

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Registered contacts</h5>
                    <div class="p-4">
                        <button type="button" class="btn btn-success btn-sm" onclick="AddContactModal()">Add contact</button>
                    </div>
                </div>

                <!-- Table with stripped rows -->
                <table class="table datatable" id="contact-table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Company</th>
                            <th>Note</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contact in contacts)
                        {
                            <tr>
                                <td>@contact.Name</td>
                                <td>@contact.Email</td>
                                <td>@contact.PhoneNumber</td>
                                <td>@(string.IsNullOrEmpty(contact.Address) ? "No registra." : contact.Address)</td>
                                <td>@(string.IsNullOrEmpty(contact.Company) ? "No registra." : contact.Company)</td>

                                @if (string.IsNullOrEmpty(contact.Note))
                                {
                                    <td>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                                onclick="SeeNote('@contact.Note', '@contact.Name')">
                                            See note
                                        </button>
                                    </td>

                                }
                                else
                                {
                                    <td>No Registra.</td>
                                }

                                <td>
                                    <button type="button" class="btn btn-primary btn-sm"
                                            onclick="UpdateContactModal({
                                        contactId: @contact.ContactId,
                                        name: '@contact.Name',
                                        email: '@contact.Email',
                                        phoneNumber: '@contact.PhoneNumber',
                                        address: '@contact.Address',
                                        company: '@contact.Company',
                                        note: '@contact.Note'
                                    });">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="DeleteContact(@contact.ContactId, '@contact.Name')">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>